* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: gray;
}

.center {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 2%;
}


.clear{clear: both;}

header {
    background: black;
    padding: 12px 0;
}

.header-left {
    float: left;
}

.header-left img {
    max-width: 120px;
    margin-top: 10px;
}

.menu-header {
    position: relative;
    top: -5px;
    display: inline-block;
    margin-left: 30px;
}

.menu-header a {
    color: white;
    text-decoration: none;
}

.menu-header li {
    font-size: 14px;
    margin-right: 15px;
    display: inline-block;
}

.header-right {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    float: right;
    font-size: 12px;
    


}

.search, .notifications {
    display: inline-block;
}

.notifications {
    position: relative;
}

.circle-notifications {
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #e50914;
    text-align: center;
    vertical-align: 20px;
}

.circle-notifications span {
    font-size: 12px;
    color: white;
    
}

.header-right i {
    margin: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-right a {
    text-decoration: none;
    color: white;
}


section.destaque {
    background-image: url('/imagens/suits-banner-jpg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 900px;
    position: absolute;
    z-index: 1;
}

.overlay {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.texto-destaque {
    color: white;
    z-index: 3;
    position: relative;
    margin-top: 95px;
    margin-left: 4%;
}

.texto-destaque h2 {
    color: #b10f17;
    font-size: 130px;
    text-transform: uppercase;
}

.texto-destaque h3 {
    margin: 20px 0;
    color: white;
    font-size: 25px;
}

.texto-destaque p {
    font-size: 20px;
}

.texto-destaque a {
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 15px;
    display: inline-block;
    margin-right: 15px;
}

.texto-destaque a:hover {
    background: white;
    color: black;
}